body {
	/*width: 100vw;*/
	height: 1000vh;
}




h1 {
	font-family: goudy-old-style, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25pt;
	word-spacing: 2.5px;
	position: absolute;
	padding-left: 2vw;
	padding-top: 2vh;
	color: grey;
}

p {
	font-family: goudy-old-style, serif;
	font-weight: 400;
	font-style: normal;
	font-size: 11pt;
	position: absolute;
	padding-left: 2vw;
	padding-top: 10vh;
	color: grey;
	max-width: 265px;
}


	.1867 {
		position: absolute;
		max-width: 200px;
		left: 600px;
		top: 700px;
		cursor: pointer;
		max-width: 200px;
	}










